@use '../../../patterns/color.scss' as color;
@use '../../../mixins/mixins.module.scss' as mixins;

.sectionDonated{
    border: solid red;
    @include mixins.flex($align: center, $justify: center, $direction: column, $gap: 2rem);

    img{
        width: 15rem;
    }
    .divBtnDonated{
        .btnDonated{
            @include mixins.flex($align: center, $justify: center);
            cursor: pointer;    
            border: solid color.$border;
            background: none;
            border-radius: .5rem;
            color: color.$text-h3;
            padding: .1rem;
            
            img{
                width: 1.5rem;
            }
        }

        @include mixins.flex(
            $align: center,
            $justify: center,
            $gap: 1rem
        );

    }

    .divDonated{
        border: solid blue;
        @include mixins.flex($align: center, $justify: center, $gap: 2rem);
    }

    .articleDonated{
        @include mixins.flex($align: center, $justify: center, $gap: .5rem, $direction: column);
        padding: 2rem;
    }
}