@use '../../../patterns/color.scss' as color;
@use '../../../mixins/mixins.module.scss' as mixins;


.mainDonate{
    @include mixins.flex($align: center, $justify: center, $direction: column, $gap: 1rem);
    padding: 1.84rem;

    img{
        width: 3vw;
    }
    h2{
        font-weight: 400;
    }
}

.cardForm{
    border: solid color.$text-h3;
    border-radius: 2rem;
    padding: 2rem;

    @include mixins.flex($align: center, $gap: 5rem, $justify: center, $direction: column)
}

.divForm{
    // border:solid yellowgreen;
    font-weight: 400;
    color: color.$text-h3;
    @include mixins.flex($align: center, $justify: center, $gap: 2rem)
}
.formInputs{
    @include mixins.flex($align: center, $justify: center, $direction: column, $gap: 3rem);

    input{
        border: solid color.$text-h3;
        border-radius: .5rem;
        width: 20vw;
        height: 2rem;
    }

    input::-webkit-input-placeholder{
        color: color.$text-h3;
        padding: 1rem;
    }
}
.donateBtn{
    background-color: color.$btn-submit;
    width: 10vw;
    height: 5vh;
    color: color.$text-header;
    border: none;
    border-radius: 1rem;

    &:hover{
        background-color: color.$btn-hover;
        color: color.$text-h3
    }
}

.shadowInput:focus, .shadowInput:hover{
        box-shadow: 1px 1px 10px color.$btn-submit;
        color: color.$text-h3;
}