@use '../../patterns/color.scss' as color;
@use '../../mixins/mixins.module.scss' as mixins;

#styleBrowser {
    width: 100%;
    background: color.$bg-header;
    color: color.$text-header;
    @include mixins.flex($justify: space-around, $align: center);
    padding: 2rem;

    @include mixins.mediaTablet{
        @include mixins.flex(
            $align:center,
            $justify:center,
            $gap: 5rem
        )
    }

    .divLogo,
    .navigation,
    .divInput {
        @include mixins.flex($justify: space-around, $align: center);
        padding: .2rem;
    }

    .ulFlex {
        @include mixins.flex($justify: space-evenly, $align: center);
        min-width: 50vw;

        @include mixins.mediaMobile {
            @include mixins.flex($direction: column, $gap: 2rem);
            font-size: clamp(2rem, 10vw + 1em, 4rem);
        }
    }

    .divLogo {
        @include mixins.flex($justify: space-around, $align: center, $gap: 1rem);

        &:hover {
            transform: scale(1.2);
            transition: transform 0.2s;
        }

        @include mixins.mediaMobile {
            img {
                width: 2.5rem;
            }
        }
    }

    .navigation {
        a {
            text-decoration: none;
            color: color.$text-header;
            background-image: linear-gradient(90deg, color.$text-header, color.$text-header);
            background-size: 0% .1rem;
            background-repeat: no-repeat;
            background-position: left bottom;
            transition: background-size .3s ease-in-out;
        }

        a:hover {
            background-size: 100% .1rem;
        }

        li:hover {
            transform: scale(1.2);
            transition: .2s;
        }

        .closeBtnMenu {
            display: none;

            @include mixins.mediaMobile {
                display: block;
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: color.$text-header;
                align-self: flex-end;
            }
        }

        @include mixins.mediaMobile {
            display: none;
            padding: 1.5rem;

            &.menuOpen {
                display: grid;
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                background-color: color.$bg-footer;
                box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
                z-index: 1000;
                padding: 1rem;
                gap: 1rem;
                transform: translateX(-1%);
                transition: transform .5s ease;
            }
            &.menuClosed {
                display: grid;
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                background-color: color.$bg-footer;
                box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
                z-index: 1000;
                padding: 1rem;
                gap: 1rem;
                transform: translateX(-100%);
                transition: transform .5s ease;
            }
        }
    }

    .divInput {
        display: flex;
        align-items: center;
        border: 2px solid #FFF;
        border-radius: 50px;
        overflow: hidden;
        transition: box-shadow 0.3s ease-in-out;

        &:active,
        &:focus,
        &:hover {
            box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.771);

            .searchInput {
                width: 15vw;
            }
        }

        .searchSubmt {
            width: 1.5vw;
            border-radius: 100px;
            background-color: transparent;
            border: solid #FFF .1rem;
            cursor: pointer;

            @include mixins.mediaMobile {
                width: 6vw;
            }
        }
    }

    .searchInput {
        border-radius: 100px;
        background-color: transparent;
        border: none;
        outline: none;
        width: .05vw;
        transition: width 0.3s ease-in-out;

        &:hover,
        &.expanded {
            width: 15vw;
            color: color.$text-header;
        }

        @include mixins.mediaMobile {
            width: 100%;

            &:hover,
            &.expanded {
                width: 100%;
            }
        }
    }
}

.wLogo {
    width: 2vw;
}

.wLupa {
    width: 1vw;
    padding: .1rem;

    @include mixins.mediaMobile {
        width: 3vw;
    }
}

input::-webkit-input-placeholder {
    color: color.$text-header;
    padding: 1rem;

    @include mixins.mediaMobile {
        margin-left: 0;
    }
}

.widthImg {
    width: 6vw;
}

#invisible {
    display: none;

    @include mixins.mediaMobile {
        display: flex;
    }
}
