@use '../../patterns/color.scss' as color;
@use '../../mixins/mixins.module.scss' as mixins;

footer{
    color: color.$text-header;
    img{
        width: 2rem;
    }
    a{
        cursor: pointer;
    }
    img:hover{
        transform: scale(1.2);
    }

    .sectionContacts{
        background: color.$bg-footer;
        @include mixins.flex($justify: space-between, $align: center);
        padding: 1rem;

        @include mixins.mediaMobile{
            @include mixins.flex($justify: center, $align: center, $direction: column, $gap: 2rem)
        }

        .ulFlex{
            width: 10%;
            @include mixins.flex($justify: space-evenly, $align: center, $gap: 1rem);

            @include mixins.mediaMobile{
                width: 100%;
                @include mixins.flex(
                    $justify: center,
                    $align: center,
                    $gap: 1rem
                )
            }
        }
    }

    .copyright{
        background: color.$bg-footer-2;
        @include mixins.flex($justify: center, $align: center);

        @include mixins.mediaMobile{
            text-align: center;
        }
    }

    figure{
        @include mixins.flex($align: center);
        padding: 1rem;
    }
}