$text-header:#FFFFFF;
$text-main: #000000;
$bg-card: rgba(1, 87, 148, 0.3);
$bg-footer: rgba(0, 86, 149, 1);
$bg-header: linear-gradient(90deg, rgba(1, 87, 148, 0.3), rgb(0, 86, 149));
$text-h3:#005695;
$bg-footer-2: #232020;