$text-header:#FFFFFF;
$text-main: #000000;
$bg-card: rgba(1, 87, 148, 0.3);
$bg-footer: rgba(0, 86, 149, 1);
$bg-header: linear-gradient(to right, #001B2F, #005695);
$text-h3:#005695;
$bg-footer-2: #232020;
$btn-submit: #005695;
$btn-hover: rgba(0, 86, 149, 0.2)